{% extends 'base.html.twig' %}

{% block title %}Hello NotaController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<h1>Lista de notas</h1>

	{% include "common/_messages.html.twig" %}

	<div class="example-wrapper">

		{% if notas|length >0 %}
			<table class="table">
				<thead>
					<th>
						Título
					</th>
					<th>
						Descripción
					</th>
					<th>
						Acciones
					</th>
				</thead>
				<tbody>
					{% for nota in notas %}
						<tr>

							<td>
								{{nota.titulo}}
							</td>
							<td>
								{{nota.descripcion}}
							</td>
							<td>
								<a href="{{path('app_nota_update', {'id': nota.id})}}" class="btn btn-outline-primary">Editar</a>								
								<a class="btn btn-outline-danger" name="eliminarNota" id="{{nota.id}}">Eliminar</a>
							</td>
						</tr>
					</form>
				</tbody>
			</td>

		</tr>
	{% endfor %}
</tbody></table>{% else %}<div class="alert alert-primary" role="alert">
No existen notas en la base de datos</div>{% endif %}</div>{% endblock %}
